node_modules/
dist/
build/
logs/
tmp/
backup/
cache/
.cache/
coverage/
.env
*.log
*.tmp
*.sqlite
*.db
*.tar
*.zip
*.tgz
*.gz
__pycache__/
.DS_Store
catflix-db-data/
catflix_subtitles/subtitles/

# Binaries and executables
*.exe
*.bin
*.dll
*.so
*.dylib
kubectl
